<div>
    {{ block "js" .}}

    {{ end }}

    {{ block "css" .}}

    {{ end }}

    <div class="container mt-5">
        <div>{{ index .BasicData "testData" }}</div>
        <div class="row">
            <div class="col">
                <h1>This is contacts page</h1>
            </div>
        </div>
    </div>

</div>